<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Usuario.Properties.Settings.conexionDB" connectionString="Data Source=VLADIMIR\SQLEXPRESS;Initial Catalog=POEWPF;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings> 

	<!--<add name="Usuario.Properties.Settings.conexionDB" connectionString="Data Source= POE_WPF.mssql.somee.com;Initial Catalog=POE_WPF; user id=Ascencio_21_SQLLogin_1;pwd=b8imey84z8"
		   providerName="System.Data.SqlClient" />
	</connectionStrings> -->
	
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>